/* Add style for logo */
.logo {
    float: left;
    /* Place logo at the far left */
    width: 100px;
    /* Set the width of the logo */
    height: 100px;
    /* Set the height of the logo */
}

/* Add style for search bar and search icon */
.search-bar {
    float: right;
    /* Place search bar at the far right */
    margin-top: 20px;
    /* Set the distance from the top of the page */
    margin-right: 20px;
    /* Set the distance from the right margin */
    border: 1px solid black;
    /* Add black border for search bar */

}

.search-input {
    width: 300px;
    /* Set the width of the input box */
    height: 30px;
    /* Set the height of the input box */
    border: none;
    /* Remove border of the input box */
    padding-left: 10px;
    /* Set the distance from the left margin of the input box */
    outline: none;
    /* Remove border of the input box when clicked */
}

.search-button {
    width: 30px;
    /* Set the width of the search button */
    height: 30px;
    /* Set the height of the search button */
    border: none;
    /* Remove border of the search button */
    background-image: url("search-icon.png");
    /* Set image for search button */
    background-size: cover;
    /* Adjust image size to fit search button */
}