*{
    margin: 0;
    padding: 0;
}

body{
    background-color: bisque;

}
ul li {
    list-style: none;
    margin-top: 10px;
}
#navbar{
    background-color: aquamarine;
}
.nav-element{
    list-style: none;
    margin: 0.5rem;
    margin-left: 6rem;
}
.first-child{
    margin-right: 30rem;
}
#nav-elements{
    display: flex;
    align-items: center;
     
}
.search{
    padding: 1.1rem;
    border-radius: 25px;
}
.search-btn{
    background-color: rgb(93, 93, 175);
}
.search-btn:hover{
    color: rgb(219, 201, 235);
    background-color:  rgb(152, 152, 214);
}

.container{
    display: flex;
    gap: 2px;
    margin: 0.2rem;
    justify-content: space-evenly;
     
}
.box{
    width: 200px;
    height: 300px;
    background-color: cadetblue;
    border-radius: 5px;
}
footer{
    background-color: grey;
    font-size: larger;
    padding: 1rem;
    position: fixed;
    bottom: 0;
}
 